<a href="https://colab.research.google.com/github/EdgerEldho/a/blob/main/Day4_internship.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
data=pd.read_csv(r'/content/beer-servings (2).csv',index_col='Unnamed: 0')

In [ ]:
for i in ['beer_servings','spirit_servings','wine_servings','total_litres_of_pure_alcohol']:
  data[i]=data[i].fillna(data[i].median())

In [ ]:
data=data.drop('country',axis=1)

In [ ]:
data.isna().sum()

beer_servings                   0
spirit_servings                 0
wine_servings                   0
total_litres_of_pure_alcohol    0
continent                       0
dtype: int64

### **One hot encoding**

In [ ]:
data.shape

(193, 6)

In [ ]:
data.dtypes

country                          object
beer_servings                   float64
spirit_servings                 float64
wine_servings                   float64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [ ]:
data.continent.nunique()

6

In [ ]:
data.country.nunique()

193

In [ ]:
data1=pd.get_dummies(data)

In [ ]:
data1.shape

(193, 203)

In [ ]:
data2=data.drop('country',axis=1)

In [ ]:
data2.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,0.0,0.0,0.0,0.0,Asia
1,89.0,132.0,54.0,4.9,Europe
2,25.0,0.0,14.0,0.7,Africa
3,245.0,138.0,312.0,12.4,Europe
4,217.0,57.0,45.0,5.9,Africa

In [ ]:
data2=pd.get_dummies(data2)

In [ ]:
data2.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent_Africa,continent_Asia,continent_Europe,continent_North America,continent_Oceania,continent_South America
0,0.0,0.0,0.0,0.0,0,1,0,0,0,0
1,89.0,132.0,54.0,4.9,0,0,1,0,0,0
2,25.0,0.0,14.0,0.7,1,0,0,0,0,0
3,245.0,138.0,312.0,12.4,0,0,1,0,0,0
4,217.0,57.0,45.0,5.9,1,0,0,0,0,0

### **Label Encoding**

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
label_encoder=LabelEncoder()

In [ ]:
data['continent']=label_encoder.fit_transform(data['continent'])

In [ ]:
data.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,0.0,0.0,0.0,0.0,1
1,89.0,132.0,54.0,4.9,2
2,25.0,0.0,14.0,0.7,0
3,245.0,138.0,312.0,12.4,2
4,217.0,57.0,45.0,5.9,0

In [ ]:
X=data.drop('total_litres_of_pure_alcohol',axis=1)
y=data['total_litres_of_pure_alcohol']

In [ ]:
y

0       0.0
1       4.9
2       0.7
3      12.4
4       5.9
       ...
188     7.7
189     2.0
190     0.1
191     2.5
192     4.7
Name: total_litres_of_pure_alcohol, Length: 193, dtype: float64

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42,test_size=0.2)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr=LinearRegression()
model=lr.fit(X_train,y_train)
predictions=model.predict(X_test)

In [ ]:
from sklearn.metrics import mean_squared_error,r2_score

r=(n(Exy)-(Ex)(Ey))/

In [ ]:
print('Mean squared error is: ',mean_squared_error(y_test,predictions))
print('R Squared value is: ',r2_score(y_test,predictions))

Mean squared error is:  1.7720922847547185
R Squared value is:  0.916337574413759

Overfitting and Underfitting ?

### **Min Max Scaling**

In [ ]:
 X.describe()

       beer_servings  spirit_servings  wine_servings   continent
count     193.000000       193.000000      193.00000  193.000000
mean      103.917098        82.259067       48.88601    1.694301
std        98.580146        87.389366       79.41700    1.501672
min         0.000000         0.000000        0.00000    0.000000
25%        21.000000         5.000000        1.00000    0.000000
50%        76.000000        60.000000        9.00000    1.000000
75%       171.000000       128.000000       59.00000    3.000000
max       376.000000       438.000000      370.00000    5.000000

In [ ]:
X1=X.drop('continent',axis=1)

In [ ]:
X1.head()

   beer_servings  spirit_servings  wine_servings
0            0.0              0.0            0.0
1           89.0            132.0           54.0
2           25.0              0.0           14.0
3          245.0            138.0          312.0
4          217.0             57.0           45.0

In [ ]:
from sklearn.preprocessing import MinMaxScaler
min_max_scaler=MinMaxScaler(feature_range=(0,1))
X1=min_max_scaler.fit_transform(X1)

In [ ]:
type(X1)

numpy.ndarray

In [ ]:
data.columns

Index(['beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')

In [ ]:
X1=pd.DataFrame(X1,columns=['beer_servings','spirit_servings','wine_servings'])

In [ ]:
X1.describe()

       beer_servings  spirit_servings  wine_servings
count     193.000000       193.000000     193.000000
mean        0.276375         0.187806       0.132124
std         0.262181         0.199519       0.214641
min         0.000000         0.000000       0.000000
25%         0.055851         0.011416       0.002703
50%         0.202128         0.136986       0.024324
75%         0.454787         0.292237       0.159459
max         1.000000         1.000000       1.000000

In [ ]:
X1.shape

(193, 3)